<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=SISTEMAS-PC\SQL2008_INSTANCE;Initial Catalog=RecordFCS_2015;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.24.54\SQL2008_INSTANCE;Initial Catalog=Bd_Record_FCS;User ID=sa;Password=sql2008"/>-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.24.211\SQL2008_INSTANCE;Initial Catalog=Bd_Record_FCS;User ID=sa;Password=sql2008" />
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=SISTEMAS-PC\SQL2008_INSTANCE;Initial Catalog=MuseoRecord_v50;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />-->
    <add name="BaseViejaRecord" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.24.54\SQL2008_INSTANCE;Initial Catalog=BdMuseoNew;User ID=sa;Password=sql2008" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />

    <authentication mode="Forms">
      <!-- TODO: Set requireSSL to true for production -->
      <forms requireSSL="false" slidingExpiration="true" loginUrl="~/Home/Index?mensaje=fin" name="AuthenticationTicket" protection="All" timeout="60" />
    </authentication>
    
    
  </system.web>

  <!--here we add the system.WebServer section-->
  <system.webServer>
    <!--http errors allows us to override default errors.
      errorMode="Custom" means that IIS will always serve our custom pages.
      if you want to see details while in develoment mode, set to DetailedLocalOnly.
      for this demo, we have it set to Custom.-->
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" />
      <remove statusCode="401" />
      <remove statusCode="404" />
      <remove statusCode="405" />
      <remove statusCode="408" />
      <remove statusCode="500" />

      <error statusCode="400" responseMode="ExecuteURL" path="/Error/SolicitudIncorrecta" />
      <error statusCode="401" responseMode="ExecuteURL" path="/Error/AccesoDenegado" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NoEncontrado" />
      <error statusCode="405" responseMode="ExecuteURL" path="/Error/MetodoNoPermitido" />
      <error statusCode="408" responseMode="ExecuteURL" path="/Error/TiempoEsperaAgotado" />
      <error statusCode="500" responseMode="ExecuteURL" path="/Error/Error" />
    </httpErrors>-->
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>