@if (ViewBag.totalValores == 0)
{
    <p>
        <span><b class="text-warning">NO SE ENCONTRARON COINCIDENCIAS</b></span>
    </p>
}
else
{
    @Html.DropDownList("PropietarioID", null, "", htmlAttributes: new { @class = "form-control" })
}

