@{
    ViewBag.Title = "About";
}

@if (ViewBag.WordDocumentMode == null || !ViewBag.WordDocumentMode)
{
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Use this area to provide additional information.</p>

<small class="">Prueba small</small>
<small class="text-danger">Prueba small rojo</small>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td>a</td>
        <td>b</td>
    </tr>

    <tr>
        <td>1</td>
        <td>11</td>
    </tr>

    <tr>
        <td>2</td>
        <td>22</td>
    </tr>

    <tr>
        <td>3</td>
        <td>33</td>
    </tr>

    <tr>
        <td>4</td>
        <td>44</td>
    </tr>

</table>